*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playlist+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playlist+Script&display=swap");

:root{
    --color-fondo-principal: #3e3434;
    --color-texto-principal: #723939;
    --color-detalle-verde: #4CAF50;
    
    --fuente-titulos: "Montserrat";
    --feuntes-parrafos: "Playlist Script";
}

header{
    background-color: var(--color-detalle-verde);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo img{
    width: 100px;
}

nav ul{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--color-texto-principal);
    font-family: var(--fuente-titulos);
    font-size: 18px;
}


.boton-pedir a{
    text-decoration: none;
    background-color: bisque;
    width: 200px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}